* {
  margin: 0;
  padding: 0;
  user-select: none;
}

@font-face {
  font-family: "Pixeloid";
  src: url(font/pixeloid.ttf) format(TrueType);
  font-weight: normal;
}

@font-face {
  font-family: "Pixeloid";
  src: url(font/pixeloid-bold.ttf) format(TrueType);
  font-weight: bold;
}

@keyframes move {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes move-wrap {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes text-move {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(-150%);
  }
}

#background,
#background-clone,
#background-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#backgrounds {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#background {
  animation-name: move;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#background-clone {
  transform: translateX(100%);
  animation-name: move;
  animation-duration: 10s;
  animation-delay: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#background-wrapper {
  animation-name: move-wrap;
  animation-duration: 5s;
  animation-timing-function: linear;
}

#ground,
#ground-clone,
#ground-wrapper {
  width: 100%;
  height: 18%;
  position: absolute;
  bottom: 0;
  left: 0;
}

#grounds {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#ground {
  animation-name: move;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#ground-clone {
  transform: translateX(100%);
  animation-name: move;
  animation-duration: 10s;
  animation-delay: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#ground-wrapper {
  animation-name: move-wrap;
  animation-duration: 5s;
  animation-timing-function: linear;
}

#stickman {
  position: absolute;
  bottom: 18%;
  left: 20px;
}

#content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Pixeloid";
  overflow: hidden;
}

#content-body.start {
  padding: 20px;
  user-select: none;
  animation-name: text-move;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-image: url(img/plate.png);
  background-size: 100% 100%;
  padding: 30px;
  width: 60%;
}

#title {
  font-weight: bold;
}

#subtitle {
  font-size: 1rem;
}

#title,
#subtitle {
  display: inline-block;
  width: 100%;
  color: #CD993C;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 0 #CDAF77;
}

#start {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  background-color: white;
  z-index: 999;
  transition: opacity 2s ease-in-out;
  text-align: center;
  padding: 50px;
  font-family: "Pixeloid";
}